In [2]:
import pandas as pd
import geopandas as gpd

In [7]:
pd.set_option('display.max_rows', 2)

In [4]:
original_lines_dataset = gpd.read_file('datasets/lineas-de-subte-zip/lineas-subte.shp')

In [8]:
display(original_lines_dataset)

    ID LINEASUB                                           geometry
0    1  LINEA D  LINESTRING (-58.45213 -34.56622, -58.45163 -34...
..  ..      ...                                                ...
81  82  LINEA E  LINESTRING (-58.37369 -34.60925, -58.37034 -34...

[82 rows x 3 columns]

In [9]:
original_stations_data = gpd.read_file('datasets/estaciones-de-subte/estaciones-de-subte.shp')

In [10]:
display(original_stations_data)

      ID        ESTACION LINEA                     geometry
0    1.0         CASEROS     H  POINT (-58.39893 -34.63575)
..   ...             ...   ...                          ...
89  88.0  CORREO CENTRAL     E  POINT (-58.37041 -34.60301)

[90 rows x 4 columns]

In [11]:
lineas_tramos = gpd.read_file('./generated_datasets/lineas_tramos/lineas_tramos.shp')

In [12]:
display(lineas_tramos)

,LINEASUB,est_lin_o,est_lin_d,color,geometry
0,LINEA A,null,Alberti_A,#00aee0,"LINESTRING (-58.37097 -34.60881, -58.37226 -34..."
...,...,...,...,...,...
33,LINEA E,Belgrano_E,Bolivar_E,#7c2681,"LINESTRING (-58.39707 -34.62311, -58.39707 -34..."

In [13]:
stations_data_set = gpd.read_file('./generated_datasets/stations/stations_dataset.shp')

In [14]:
display(stations_data_set)

,ESTACION,LINEASUB,est_lin,color,geometry
0,9 de Julio,LINEA D,9_de_Julio_D,#027a61,POINT (-58.38057 -34.60425)
...,...,...,...,...,...
33,Leandro N. Alem,LINEA B,Leandro_N_Alem_B,#e63629,POINT (-58.36993 -34.60299)